.main-navbar-custom {
  background-color: transparent !important;
}

.button-navbar-custom {
  margin-top: 21px;
  background: #28323792
}

.navigation-bar-color {
  background-color: rgb(238, 178, 27) !important;
}

.info-footer-color {
  background-color: rgb(238, 178, 27) !important;
}
