.icon-height-width {
  width: 80px;
  margin-top: 23px;
  margin-bottom: 23px
}

.main-content-allignment {
  margin-top: 30%;
}

.button-rules-style {
  margin-top: 3%
}

.tittel-div {
  margin-bottom: 3%;
}

.text-div {
  margin-bottom: 5%;
}


.button-rules-style a {
  margin-left: 10px;
  margin-right: 10px
}
